@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* font-family: 'Poppins', sans-serif; */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #43AFFC;
    min-height: 100vh;
}

.container {
    width: 400px;
    border-radius: 10px;
    background-color: white;
}

.container header {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #43AFFC;
    font-weight: 600;
    padding: 16px 15px;
    border-bottom: 1px solid #bfbfbf;
}

header i {
    font-size: 30px;
    cursor: pointer;
    margin-right: 15px;
}

.container .input-part {
    display: none;
    margin: 20px 25px 30px;
}

.input-part .info-text {
    display: none;
    font-size: 17px;
    text-align: center;
    padding: 12px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.info-text.error {
    display: block;
    color: red;
    background: rgba(255, 0, 0, 0.37);
    border: 1px solid rgba(255, 0, 0, 0.288);
}

.info-text.pending {
    display: block;
    color: blue;
    background: rgba(0, 0, 255, 0.137);
    border: 1px solid rgba(0, 0, 255, 0.274);
}

.input-part :where(input, button) {
    width: 100%;
    height: 55px;
    border: none;
    outline: none;
    font-size: 18px;
    border-radius: 10px;
}

.input-part input {
    text-align: center;
    border: 1px solid #bfbfbf;
}

.input-part input:is(:focus, :valid) {
    border: 2px solid #43AFFC;
}

.input-part .separator {
    height: 1px;
    width: 100%;
    margin: 25px 0;
    background-color: #bfbfbf;
    display: flex;
    align-items: center;
    justify-content: center;
}

.separator::before {
    content: "or";
    color: #bfbfbf;
    font-size: 19px;
    padding: 0 15px;
    background: white;
}

.input-part button {
    color: white;
    cursor: pointer;
    background-color: #43AFFC;
}

.container .weather-part {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.weather-part img {
    min-width: 300px;
}

.weather-part .temp {
    display: flex;
    font-size: 72px;
    font-weight: 500;
}

.weather-part .temp .numb {
    font-weight: 600;
}

.weather-part .temp .deg {
    font-size: 40px;
    margin: 10px 5px 0 0;
    display: block;
}

.weather-part .weather {
    font-size: 21px;
    text-align: center;
    margin: -5px 20px 15px;
}

.weather-part .location {
    display: flex;
    align-items: center;
    font-size: 21px;
    margin-bottom: 30px;
}

.location i {
    font-size: 22px;
    margin-right: 5px;
}

.weather-part .bottom-details {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #bfbfbf;
}

.bottom-details .column {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
}

.column i {
    color: #43AFFC;
    font-size: 40px;
}

.column.humidity {
    border-left: 1px solid #bfbfbf;
}

.details .temp,
.humidity span {
    font-size: 18px;
    font-weight: 500;
    margin-top: -3px;
}

.details .temp .deg {
    margin: 0;
    font-size: 17px;
    pad: 0 2px 0 1px;
}

.details p {
    font-size: 14px;
    margin-top: -6px;
}